/* *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#5d6d7e,#566573);
    justify-content: space-evenly;
   
    
}
.main button{
    padding: 10px 12px;
    margin: 0 10px;
}
.main #logo{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 25px;
    color: #ccc;
    text-transform: capitalize;
}
.main #logo i{
    margin-right: 15px;

}
.right, .left{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
.left img{
    height: 300px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 1px 8px black;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #FF8A65;
    border-radius: 50%;
}

.right input{
    -webkit-appearance: none;
    height: 2px;
    width: 180px;
    box-shadow:0.2px 1px 8px black;
}
.left input{
    -webkit-appearance: none;
    height: 2px;
    width: 100px;
    box-shadow:0.2px 1px 8px black;

}
.left .volume{
    position: aboslute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 15px;

}
.left .volume p{
    font-size: 15px;
}
.left .volume i{
    cursor: pointer;
    padding: 8px 12px;
    background: #FF8A65;
    
    margin-left:5px;
}
.left .volume i:hover{
    background: rgba(245,245,245,0.1);
}
.volume #volume_show{
    padding: 8px 12px;
    margin: 0 5px 0 0;
    background: rgba(245,245,245,0.1);
}
.volume{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .middle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.right .middle button{
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    outline: none;
    transition: 0.5s;
    background: rgba(245,245,245,0.1)

}
.right #title{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    text-transform: capitalize;
    color: #fff;
    font-size: 35px;

}
.right #artist{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%);
    text-transform: capitalize;
    color: #fff;
    font-size: 15px;

}
.right .duration{
   position: absolute;
   bottom: 90px;
   display: flex;
   align-items: center;
   justify-content: center;
   
 
}
.right .duration p{
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
}
.right #auto{
    font-size: 18px;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    background: rgba(245,245,245,0.1);
    outline: none;
    border-radius: 10px;

}
#play{
    background: linear-gradient(to right,#FF5722, #FF7043);
    color: #fff;
}
#play i{
    font-size: 40px;
}
.left input{
    margin-left: 20px;
}
.left{
    left: 0px5;
}
.show_song-no{
    position: absolute;
    top: 10px;
    right:10px;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    background-color: rgba(245,245,245,0.1);

    margin-bottom: 20px;
}
.right .show_song-no p:nth-child(2){
    margin: 0.5px;
}
#pre:hover{
    
    background: linear-gradient(to right,#FF5722, #FF7043);
    box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2)inset,
                0.1px 8px 8px 2px rgba(0,0,0,0.2);

}
#next:hover{
    background: linear-gradient(to right,#FF5722, #FF7043);
    box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2)inset,
                0.1px 8px 8px 2px rgba(0,0,0,0.2);
}
#play:hover{
    background: linear-gradient(to right,#FF5722, #FF7043);
    box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2)inset,
                0.1px 8px 8px 2px rgba(0,0,0,0.2);
}
#auto:hover{
    background: linear-gradient(to right,#FF5722, #FF7043);
    box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2)inset,
                0.1px 8px 8px 2px rgba(0,0,0,0.2);

}
.middle button i{
    color: #fff;
    font-size: 25px;
    
}
a{
    bottom: 5px;
    text-decoration: none;
    color: white;
    margin-top: 25px;
    background-color: orangered;
    padding: 8px;
    border-radius: 8px;
    background: linear-gradient(to right,#FF5722, #FF7043);


}
a:hover{
    background: linear-gradient(to right,#FF5722, #FF7043);
    box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2)inset,
                0.1px 8px 8px 2px rgba(0,0,0,0.2);

}
.main{
    border-radius: 8px;
    background: #F2D7D5 ;
} */



@media only screen and (max-width:850px){
    *{
        top: 0;
        margin: 0;
        padding: 0;
    }
    body{
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
   .main #logo{
    margin: 8px;
    color: white;
    font-size: 20px;
   }
   .main #logo i{
    font-size: 30px;
    padding-right: 5px;
    color: white;
   }
   .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .main{
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background:#17202A  ;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 8px orangered
    

   }
    .title #title{
       
       
        text-transform: capitalize;
        color:white;
        font-size: 30px;
    
    }
    .title #artist{
        top: 120px;
        left: 50%;
        color: white;
       
        text-transform: capitalize;
        ;
        font-size: 15px;
    
    }
    .left img{
        margin-top: 40px;
        height: 200px;
        box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2); 
        border-radius: 8px;

    }
    .show_song-no{
        display: flex;
        width: 20px;
        height: 20px;
       background:#F2D7D5 ;
       padding: 5px;
       border-radius: 5px;
    }
    .right .show_song-no p:nth-child(2){
        margin: 0.5px;
    }
    .volume{
     
    
        display: flex;
        align-items: center;
        padding-top: 20px;
        color:white;
    }
    input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        background-color: #FF8A65;
        border-radius: 50%;
    }
    
    .right input{
        -webkit-appearance: none;
        height: 2px;
        width: 180px;
        box-shadow:0.2px 1px 8px black;
    }
    .left input{
        -webkit-appearance: none;
        height: 2px;
        width: 100px;
        box-shadow:0.2px 1px 8px black;
    
    }
    .duration{
        display: flex;
        align-items: center;
        justify-content: center;
       margin: 10px 0px;
       color: white;
    }
    .middle{
        display: flex;
        align-items: center;
        justify-content: center;
        
      
    }
    .middle button{
        padding: 20px;
        margin: 8px;
        font-size: 20px;
        border: none;
        border-radius: 50%;
        background-color: #FF8A65;
        color: white;



    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #DE3163;
    }
        .right #auto{
            font-size: 18px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            padding: 10px 14px;
            color:white;
            margin-top: 20px;
            background:#FF8A65 ;
            outline: none;
            border-radius: 10px;
            
         
        
        }
        .right{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #pre:hover{
    
            background: linear-gradient(to right,#FF5722, #FF7043);
            box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2)inset,
                        0.1px 8px 8px 2px rgba(0,0,0,0.2);
        
        }
        #next:hover{
            background: linear-gradient(to right,#FF5722, #FF7043);
            box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2)inset,
                        0.1px 8px 8px 2px rgba(0,0,0,0.2);
        }
        #play:hover{
            background: linear-gradient(to right,#FF5722, #FF7043);
            box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2)inset,
                        0.1px 8px 8px 2px rgba(0,0,0,0.2);
        }
        #auto:hover{
            background: linear-gradient(to right,#FF5722, #FF7043);
            box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2)inset,
                        0.1px 8px 8px 2px rgba(0,0,0,0.2);
        
        }
        header{
            display: flex;
        }
        header #logo{
            display: flex;
            padding-right:220px;
            
        }
        #volume_show{
            padding: 5px;
            background: #85929E  ;
            margin-right: 5px;
        }
        #volume_icon{
            padding: 5px;
            background: #FF8A65;
            margin-right: 5px;
        }
        
      

    }


 